body{
  margin: 0,0,0,0;
  /*background: #efefef;*/
  background: #282828;
  text-align: center;
}
button{
  height: 250px;
  width: 250px;
  margin: 30px;
  font-size: 25px;
  border: 0px;
  border-radius: 5px;
  transition: all 1s;
}
button:hover{
/*box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;*/

}
button:active{
box-shadow: inset 0px 0px 10px 0px #000000;

}
#image-container{
  height: 128px;
  width: 128px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#disclaimer{
  font-size: 10px;
  color: #828282;
  font-family: sans-serif;
}
